<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="//font.elice.io/EliceDigitalBaeum.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>  
    <link rel="stylesheet" href="/css/home/card.css">
    <link rel="stylesheet" href="/css/home/header.css">
    <link rel="stylesheet" href="/css/home/index.css">
    <script src="/js/home/header.js"></script>
    <script src="/js/home/index.js" defer></script>
    <script src="/js/home/getCompetition.js"></script>
    <title>ESPORT G</title>
</head>
<body ondragstart="return false" onselectstart="return false"> 
    <header>
        <nav class="main_header">
            <div class="header_title"><a href="/">ESPORT G</a></div>
            <div class="my_page">
                <div class="my_info">
                    <%- my %>
                </div>
            </div>
            <div id="open_btn" class="open_off">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="my_page_sidemenu">
                    <%- myside %>
                </div>
                <div class="sidemenu_list">
                    <div id="sidemenu">
                        <div class="menu_title"><a href="/competition">대회</a><i class="fas fa-angle-up"></i></i></div>
                        <ul class="panel_sidemenu">
                            <li><a href="/competition">모든 대회</a></li>
                            <li><a href="/competition/ing">진행중인 대회</a></li>
                            <li><a href="/competition/will">예정된 대회</a></li>
                            <li><a href="/competition/end">종료된 대회</a></li>
                        </ul>
                    </div>
                    <div id="sidemenu">
                        <div class="menu_title"><a href="/notice">공지</a><i class="fas fa-angle-up"></i></i></div>
                        <ul class="panel_sidemenu">
                            <li><a href="/notice">공지사항</a></li>
                            <li><a href="/notice/event">이벤트</a></li>
                            <li><a href="/notice/update">업데이트</a></li>
                        </ul>
                    </div>
                    <div id="sidemenu">
                        <div class="menu_title"><a href="#">뉴스</a><i class="fas fa-angle-up"></i></i></div>
                        <ul class="panel_sidemenu">
                            <li><a href="">이번주 소식</a></li>
                            <li><a href="">이번달 소식</a></li>
                            <li><a href="">모든 소식</a></li>
                        </ul>
                    </div>
                    <div id="sidemenu">
                        <div class="menu_title"><a href="#">FAQ</a><i class="fas fa-angle-up"></i></i></div>
                        <ul class="panel_sidemenu">
                            <li><a href="">가이드</a></li>
                            <li><a href="">청약철회</a></li>
                        </ul>
                    </div>
                    <div id="sidemenu">
                        <div class="menu_title"><a href="#">상점</a><i class="fas fa-angle-up"></i></i></div>
                        <ul class="panel_sidemenu">
                            <li><a href="">G PAY</a></li>
                            <li><a href="">이벤트 상점</a></li>
                        </ul>
                    </div>
                    <div id="sidemenu">
                        <div class="menu_title"><a href="#">고객센터</a><i class="fas fa-angle-up"></i></i></div>
                        <ul class="panel_sidemenu">
                            <li><a href="">고객센터</a></li>
                            <li><a href="">이의신청</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="nav_header">
            <ul class="nav_menu_list">
                <div class="menu_list">

                    <div>
                        <li><a href="/competition">대회</a></li>
                        <ul class="menu_1">
                            <div class="menu_stick"></div>
                            <li><a href="/competition">모든 대회</a></li>
                            <li><a href="/competition/ing">진행중인 대회</a></li>
                            <li><a href="/competition/will">예정된 대회</a></li>
                            <li><a href="/competition/end">종료된 대회</a></li>
                        </ul>
                    </div>
 
                    <div>
                        <li><a href="/notice">공지</a></li>
                        <ul class="menu_2">
                            <div class="menu_stick"></div>
                            <li><a href="/notice">공지사항</a></li>
                            <li><a href="/notice/event">이벤트</a></li>
                            <li><a href="/notice/update">업데이트</a></li>
                        </ul>
                    </div>

                    <div>
                        <li><a href="">뉴스</a></li>
                        <ul class="menu_3">
                            <div class="menu_stick"></div>
                            <li><a href="">이번주 소식</a></li>
                            <li><a href="">이번달 소식</a></li>
                            <li><a href="">모든 소식</a></li>
                        </ul>
                    </div>
  
                    <div>
                        <li><a href="">FAQ</a></li>
                        <ul class="menu_4">
                            <div class="menu_stick"></div>
                            <li><a href="">가이드</a></li>
                            <li><a href="">청약철회</a></li>
                        </ul>
                    </div>
         
                    <div>
                        <li><a href="">상점</a></li>
                        <ul class="menu_5">
                            <div class="menu_stick"></div>
                            <li><a href="">G PAY</a></li>
                            <li><a href="">이벤트 상점</a></li>
                        </ul>
                    </div>
            
                    <div>
                        <li><a href="">고객센터</a></li>
                        <ul class="menu_6">
                            <div class="menu_stick"></div>
                            <li><a href="">대회 신청</a></li>
                            <li><a href="">고객센터</a></li>
                            <li><a href="">이의신청</a></li>
                        </ul>
                    </div>
   
                </div>
                <div class="menu_lanking_news">
                    <span>[ E 스포츠 대회 매칭 플랫폼 ]</span>
                </div>
            </ul>
        </nav>
    </header>
    
    <div class="sidebar_wrap"></div>

    <section class="adver">
        <div class="adver_slide_wrapper">
            <div id="adver_slide" class="swiper">
                <div class="swiper-wrapper adver_wrapper">
                    <div class="swiper-slide adver_slide"><img class="adver_1" src="/img/adver/adver_1.png" alt=""><img class="adver_2" src="/img/adver/adver_1_2.png" alt=""><img class="adver_3" src="/img/adver/adver_1_3.png" alt=""><img class="adver_4" src="/img/adver/adver_1_4.png" alt=""></div>
                    <div class="swiper-slide adver_slide"><img class="adver_1" src="/img/adver/adver_3.png" alt=""><img class="adver_2" src="/img/adver/adver_3_2.png" alt=""><img class="adver_3" src="/img/adver/adver_3_3.png" alt=""><img class="adver_4" src="/img/adver/adver_3_4.png" alt=""></div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <section class="competition">
        <div class="main_title"><a href="">E-스포츠 대회</a></div>
        <div class="compete_list">
            <div class="recommand">
                <div class="sub_title"><a href=""><p>추천</p> 대회</a><span></span></div>
                <div id="recommand_slide_swiper" class="swiper list_slide_swiper">
                    <div class="loader"></div>
                    <div class="swiper-wrapper list recommand_list">
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
                <div class="arrow_slide">
                    <div id="left_1" class="left"><i class="fas fa-angle-left"></i></div>
                    <div id="right_1"  class="right"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
            <div class="recent">
                <div class="sub_title"><a href=""><p>최근</p> 대회</a><span></span></div>
                <div id="recent_slide_swiper" class="swiper list_slide_swiper">
                    <div class="loader"></div>
                    <div class="swiper-wrapper list recent_list">
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
                <div class="arrow_slide">
                    <div id="left_2" class="left"><i class="fas fa-angle-left"></i></i></div>
                    <div id="right_2" class="right"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </section>
    <section class="notice">
        <div class="notice_wrap">
            <div class="notice_card" id="notice">
                <div class="notice_type">
                    <span>공지사항</span>
                    <div class="more_notice"><a href="/notice/notice"><i class="fas fa-plus"></i></a></div>
                </div>
                <div class="notice_main_content">
                    <div class="notice_img"><img src="/img/notice.png" alt=""></div>
                    <div class="word_content">
                        <div class="notice_title"><a href="/notice/<%= notice_data[0].num_1 %>"><%= notice_data[0].title_1 %></a><span><%= notice_data[0].in_date_1 %></span></div>
                        <div class="notice_preview"><a href="/notice/<%= notice_data[0].num_1 %>"><%= notice_data[0].preview %></a></div>
                        <div class="notice_other_title"><a href="/notice/<%= notice_data[0].num_2 %>"><%= notice_data[0].title_2 %></a><span><%= notice_data[0].in_date_2 %></span></div>
                        <div class="notice_other_title"><a href="/notice/<%= notice_data[0].num_3 %>"><%= notice_data[0].title_3 %></a><span><%= notice_data[0].in_date_3 %></span></div>
                    </div>
                </div>
                <div class="notice_other">
                    <div class="notice_other_title"><a href="/notice/<%= notice_data[0].num_2 %>"><%= notice_data[0].title_2 %></a><span><%= notice_data[0].in_date_2 %></span></div>
                    <div class="notice_other_title"><a href="/notice/<%= notice_data[0].num_3 %>"><%= notice_data[0].title_3 %></a><span><%= notice_data[0].in_date_3 %></span></div>
                </div>
            </div>
            <div class="notice_card" id="event">
                <div class="notice_type">
                    <span>이벤트</span>
                    <div class="more_notice"><a href="/notice/event"><i class="fas fa-plus"></i></a></div>
                </div>
                <div class="notice_main_content">
                    <div id="event_img" class="notice_img"><img src="/img/fifa.png" alt=""></div>
                    <div class="word_content">
                        <div class="notice_title"><a href="/notice/<%= notice_data[1].num_1 %>"><%= notice_data[1].title_1 %></a><span><%= notice_data[1].in_date_1 %></span></div>
                        <div class="notice_preview"><a href="/notice/<%= notice_data[1].num_1 %>"><%= notice_data[1].preview %></a></div>
                        <div class="notice_other_title"><a href="/notice/<%= notice_data[1].num_2 %>"><%= notice_data[1].title_2 %></a><span><%= notice_data[1].in_date_2 %></span></div>
                        <div class="notice_other_title"><a href="/notice/<%= notice_data[1].num_3 %>"><%= notice_data[1].title_3 %></a><span><%= notice_data[1].in_date_3 %></span></div>
                    </div>
                </div>
                <div class="notice_other">
                    <div class="notice_other_title"><a href="/notice/<%= notice_data[1].num_2 %>"><%= notice_data[1].title_2 %></a><span><%= notice_data[1].in_date_2 %></span></div>
                    <div class="notice_other_title"><a href="/notice/<%= notice_data[1].num_3 %>"><%= notice_data[1].title_3 %></a><span><%= notice_data[1].in_date_3 %></span></div>
                </div>
            </div>
            <div class="notice_card" id="update">
                <div class="notice_type">
                    <span>업데이트</span>
                    <div class="more_notice"><a href="/notice/update"><i class="fas fa-plus"></i></a></div>
                </div>
                <div class="notice_main_content">
                    <div class="notice_img"><img src="/img/update.png" alt=""></div>
                    <div class="word_content">
                        <div class="notice_title"><a href="/notice/<%= notice_data[2].num_1 %>"><%= notice_data[2].title_1 %></a><span><%= notice_data[2].in_date_1 %></span></div>
                        <div class="notice_preview"><a href="/notice/<%= notice_data[2].num_1 %>"><%= notice_data[2].preview %></a></div>
                        <div class="notice_other_title"><a href="/notice/<%= notice_data[2].num_2 %>"><%= notice_data[2].title_2 %></a><span><%= notice_data[2].in_date_2 %></span></div>
                        <div class="notice_other_title"><a href="/notice/<%= notice_data[2].num_3 %>"><%= notice_data[2].title_3 %></a><span><%= notice_data[2].in_date_3 %></span></div>
                    </div>
                </div>
                <div class="notice_other">
                    <div class="notice_other_title"><a href="/notice/<%= notice_data[2].num_2 %>"><%= notice_data[2].title_2 %></a><span><%= notice_data[2].in_date_2 %></span></div>
                    <div class="notice_other_title"><a href="/notice/<%= notice_data[2].num_3 %>"><%= notice_data[2].title_3 %></a><span><%= notice_data[2].in_date_3 %></span></div>
                </div>
            </div>
        </div>
    </section>
    <section class="news">
        
    </section>
</body>
</html>